body {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    height: 800px;
    background-color: #8c89ff;
}
.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    justify-items: center;
}
.menu-button {
    width: 400px;
    text-align: center;
    height: 80px;
    background-color: #8c89ff;
    border: #6384d2;
    border-radius: 20px;
    font-family: 'Advent Pro', sans-serif;
    font-size: 60px;
    color: #ffffff;
    margin-top: 150px;
    margin-bottom: 150px;
}
.menu-button:hover {
    background-color: #6384d2;
}
a {
    text-decoration: none;
}
footer {
    display: flex;
    background-color: #8c89ff;
    justify-content: center;
}
h3 {
    color: #ffffff;
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
}